.navbar-container {
  
  display: flex;
  justify-content: flex-end;
  
  position: fixed;   /* Fixes it to the viewport */
  top: 0; 
  z-index: 3; 
  
  
  width: 98.9%;
  height: 85px;
  background-color: #961c1cfa; 
  
}

   

.btn{
    display: flex;
    justify-content: center;
    margin: 0.5%;
    width: 5%;
    height: 50%;
    font-family: Apple Chancery, cursive;
    color: #fbf8fcfe;

  display: flex;
  flex-direction: column;
  align-items: center;
 
  padding: 0.5em 1.5em;
  
  cursor: pointer;
  transition: 0.1s;
    
}


.bake1 {
  width: 60%;
  height: 70%;
  object-fit: contain;
  color: #4ff54f96;
}

.span{
  color: rgb(255, 194, 62);
}